@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Greeting"], Дружище!</h1> <!-- Выводим приветствие, значение берется из ViewData["Greeting"], после чего добавляется ", Дружище!" -->

<p>Мы будем рады видеть Вас на вечеринке! :)</p> <!-- Приглашение на вечеринку -->

<p>@Html.ActionLink("Принять приглашение", "AcceptForm")</p> <!-- Создаем ссылку для принятия приглашения, которая вызывает действие AcceptForm -->
